#!/bin/rc
v.out -s 0x3000 0x303f > /lib/font/bit/jis/jis3000.16
v.out -s 0x30a1 0x30fe > /lib/font/bit/jis/katakana.16
v.out -s 0x3041 0x309e > /lib/font/bit/jis/hiragana.16
v.out 0x3000 0x303f > /lib/font/bit/jis/jis3000.24
v.out 0x30a1 0x30fe > /lib/font/bit/jis/katakana.24
v.out 0x3041 0x309e > /lib/font/bit/jis/hiragana.24
v.out -s 0x4e00 0x4fff > /lib/font/bit/jis/jis4e00.16
v.out -s 0x5000 0x51ff > /lib/font/bit/jis/jis5000.16
v.out -s 0x5200 0x53ff > /lib/font/bit/jis/jis5200.16
v.out -s 0x5400 0x55ff > /lib/font/bit/jis/jis5400.16
v.out -s 0x5600 0x57ff > /lib/font/bit/jis/jis5600.16
v.out -s 0x5800 0x59ff > /lib/font/bit/jis/jis5800.16
v.out -s 0x5a00 0x5bff > /lib/font/bit/jis/jis5a00.16
v.out -s 0x5c00 0x5dff > /lib/font/bit/jis/jis5c00.16
v.out -s 0x5e00 0x5fff > /lib/font/bit/jis/jis5e00.16
v.out -s 0x6000 0x61ff > /lib/font/bit/jis/jis6000.16
v.out -s 0x6200 0x63ff > /lib/font/bit/jis/jis6200.16
v.out -s 0x6400 0x65ff > /lib/font/bit/jis/jis6400.16
v.out -s 0x6600 0x67ff > /lib/font/bit/jis/jis6600.16
v.out -s 0x6800 0x69ff > /lib/font/bit/jis/jis6800.16
v.out -s 0x6a00 0x6bff > /lib/font/bit/jis/jis6a00.16
v.out -s 0x6c00 0x6dff > /lib/font/bit/jis/jis6c00.16
v.out -s 0x6e00 0x6fff > /lib/font/bit/jis/jis6e00.16
v.out -s 0x7000 0x71ff > /lib/font/bit/jis/jis7000.16
v.out -s 0x7200 0x73ff > /lib/font/bit/jis/jis7200.16
v.out -s 0x7400 0x75ff > /lib/font/bit/jis/jis7400.16
v.out -s 0x7600 0x77ff > /lib/font/bit/jis/jis7600.16
v.out -s 0x7800 0x79ff > /lib/font/bit/jis/jis7800.16
v.out -s 0x7a00 0x7bff > /lib/font/bit/jis/jis7a00.16
v.out -s 0x7c00 0x7dff > /lib/font/bit/jis/jis7c00.16
v.out -s 0x7e00 0x7fff > /lib/font/bit/jis/jis7e00.16
v.out -s 0x8000 0x81ff > /lib/font/bit/jis/jis8000.16
v.out -s 0x8200 0x83ff > /lib/font/bit/jis/jis8200.16
v.out -s 0x8400 0x85ff > /lib/font/bit/jis/jis8400.16
v.out -s 0x8600 0x87ff > /lib/font/bit/jis/jis8600.16
v.out -s 0x8800 0x89ff > /lib/font/bit/jis/jis8800.16
v.out -s 0x8a00 0x8bff > /lib/font/bit/jis/jis8a00.16
v.out -s 0x8c00 0x8dff > /lib/font/bit/jis/jis8c00.16
v.out -s 0x8e00 0x8fff > /lib/font/bit/jis/jis8e00.16
v.out -s 0x9000 0x91ff > /lib/font/bit/jis/jis9000.16
v.out -s 0x9200 0x93ff > /lib/font/bit/jis/jis9200.16
v.out -s 0x9400 0x95ff > /lib/font/bit/jis/jis9400.16
v.out -s 0x9600 0x97ff > /lib/font/bit/jis/jis9600.16
v.out -s 0x9800 0x99ff > /lib/font/bit/jis/jis9800.16
v.out -s 0x9a00 0x9bff > /lib/font/bit/jis/jis9a00.16
v.out -s 0x9c00 0x9dff > /lib/font/bit/jis/jis9c00.16
v.out -s 0x9e00 0x9fff > /lib/font/bit/jis/jis9e00.16
v.out 0x4e00 0x4fff > /lib/font/bit/jis/jis4e00.24
v.out 0x5000 0x51ff > /lib/font/bit/jis/jis5000.24
v.out 0x5200 0x53ff > /lib/font/bit/jis/jis5200.24
v.out 0x5400 0x55ff > /lib/font/bit/jis/jis5400.24
v.out 0x5600 0x57ff > /lib/font/bit/jis/jis5600.24
v.out 0x5800 0x59ff > /lib/font/bit/jis/jis5800.24
v.out 0x5a00 0x5bff > /lib/font/bit/jis/jis5a00.24
v.out 0x5c00 0x5dff > /lib/font/bit/jis/jis5c00.24
v.out 0x5e00 0x5fff > /lib/font/bit/jis/jis5e00.24
v.out 0x6000 0x61ff > /lib/font/bit/jis/jis6000.24
v.out 0x6200 0x63ff > /lib/font/bit/jis/jis6200.24
v.out 0x6400 0x65ff > /lib/font/bit/jis/jis6400.24
v.out 0x6600 0x67ff > /lib/font/bit/jis/jis6600.24
v.out 0x6800 0x69ff > /lib/font/bit/jis/jis6800.24
v.out 0x6a00 0x6bff > /lib/font/bit/jis/jis6a00.24
v.out 0x6c00 0x6dff > /lib/font/bit/jis/jis6c00.24
v.out 0x6e00 0x6fff > /lib/font/bit/jis/jis6e00.24
v.out 0x7000 0x71ff > /lib/font/bit/jis/jis7000.24
v.out 0x7200 0x73ff > /lib/font/bit/jis/jis7200.24
v.out 0x7400 0x75ff > /lib/font/bit/jis/jis7400.24
v.out 0x7600 0x77ff > /lib/font/bit/jis/jis7600.24
v.out 0x7800 0x79ff > /lib/font/bit/jis/jis7800.24
v.out 0x7a00 0x7bff > /lib/font/bit/jis/jis7a00.24
v.out 0x7c00 0x7dff > /lib/font/bit/jis/jis7c00.24
v.out 0x7e00 0x7fff > /lib/font/bit/jis/jis7e00.24
v.out 0x8000 0x81ff > /lib/font/bit/jis/jis8000.24
v.out 0x8200 0x83ff > /lib/font/bit/jis/jis8200.24
v.out 0x8400 0x85ff > /lib/font/bit/jis/jis8400.24
v.out 0x8600 0x87ff > /lib/font/bit/jis/jis8600.24
v.out 0x8800 0x89ff > /lib/font/bit/jis/jis8800.24
v.out 0x8a00 0x8bff > /lib/font/bit/jis/jis8a00.24
v.out 0x8c00 0x8dff > /lib/font/bit/jis/jis8c00.24
v.out 0x8e00 0x8fff > /lib/font/bit/jis/jis8e00.24
v.out 0x9000 0x91ff > /lib/font/bit/jis/jis9000.24
v.out 0x9200 0x93ff > /lib/font/bit/jis/jis9200.24
v.out 0x9400 0x95ff > /lib/font/bit/jis/jis9400.24
v.out 0x9600 0x97ff > /lib/font/bit/jis/jis9600.24
v.out 0x9800 0x99ff > /lib/font/bit/jis/jis9800.24
v.out 0x9a00 0x9bff > /lib/font/bit/jis/jis9a00.24
v.out 0x9c00 0x9dff > /lib/font/bit/jis/jis9c00.24
v.out 0x9e00 0x9fff > /lib/font/bit/jis/jis9e00.24
