/go

*.6
*.8
386/9*
386/bin
386/init
386/lib
386/mbr
386/pbs*
9load
acme/bin
amd64/9*
amd64/bin
amd64/init
amd64/lib
arm/9*
arm/bin
arm/init
arm/lib
arm/s9*
bootdisk.img
env
lib/audio
pbsraw
usr/djc
sys/lib/dist/bin
sys/lib/dist/pc/multi
sys/lib/firmware
