/go
/bbin

*.6
*.8
*.o
386/9*
386/*bin
386/init
386/lib
386/mbr
386/pbs*
9load
acme/bin
amd64/9*
amd64/*bin
amd64/init
amd64/lib
arm/9*
arm/*bin
arm/init
arm/lib
arm/s9*
bootdisk.img
env
lib/audio
pbsraw
usr/djc
sys/lib/dist/bin
sys/lib/dist/pc/multi
sys/lib/firmware
sys/go
y.tab.*
o.out
y.debug
*~
lib*.a
6a
6c
6l
8a
8c
8l
xbin
