Sevki Hasirci <s@sevki.org> <sevki@spotify.com>
Sevki Hasirci <s@sevki.org> Sevki <s@sevki.org>
Dan Cross <cross@gajendra.net> <crossd@gmail.com>
Alvaro Jurado <elbingmiss@gmail.com>
Ronald G. Minnich <rminnich@gmail.com>
John Floren <john@jfloren.net> <john@sage.jfloren.net>
Rafael Fernandez <rafael.fernandez@taisis.com>
Gerard van de Schoot <gvdschoot@gmail.com>
