[project]
	description = A 64 bit Operating System based on Plan 9 from Bell Labs and NIX, under GPL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ron minnich (rminnich)
	owner = group user/Álvaro Jurado (elbing)
	submit = group harvey-os
	submit = group user/Sevki (sevki)
	forgeAuthor = group harvey-os
[access "refs/for/refs/*"]
	read = group user/Álvaro Jurado (elbing)
	push = group harvey-os
	push = group user/Álvaro Jurado (elbing)
	label-Code-Review = -2..+2 group user/Álvaro Jurado (elbing)
	label-Verified = -1..+1 group user/Álvaro Jurado (elbing)
	rebase = group user/Álvaro Jurado (elbing)
	removeReviewer = group user/Álvaro Jurado (elbing)
	submit = group user/Álvaro Jurado (elbing)
[access "refs/heads/*"]
	read = group user/Álvaro Jurado (elbing)
	create = group user/Álvaro Jurado (elbing)
	push = +force group user/Álvaro Jurado (elbing)
	pushMerge = group user/Álvaro Jurado (elbing)
	label-Code-Review = -2..+2 group harvey-os
	label-Verified = -1..+1 group harvey-os
[access "refs/tags/*"]
	push = +force group user/Álvaro Jurado (elbing)
	pushTag = group user/Álvaro Jurado (elbing)
	pushSignedTag = group user/Álvaro Jurado (elbing)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
