[project]
	description = A 64 bit Operating System based on Plan 9 from Bell Labs and NIX, under GPL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ron minnich (rminnich)
	owner = group user/Álvaro Jurado (elbing)
	submit = group harvey-os
	submit = group user/Sevki (sevki)
	forgeAuthor = group harvey-os
[receive]
	requireSignedOffBy = true
	requireChangeId = true
