#!/bin/rc

# go through all of the commands and do a plausible test of all of them
8.cat /dev/drivers
8.ls /dev / /net
8.ar vu /dev/hoststdout /dev/drivers
8.grep

./8.out

# where am I going to put the root of the system?