# root
mount -aC #s/boot /root $rootspec
bind -a $rootdir /
bind -c $rootdir/mnt /mnt

# kernel devices
bind #c /dev
bind #d /fd
bind -c #e /env
bind #p /proc
bind -c #s /srv
bind -a #¤ /dev

# authentication
mount -a /srv/factotum /mnt

# standard bin
bind -a /rc/bin /bin
bind -a /$cputype/bin /bin

# internal networks
# mount -a /srv/ip /net
bind -a #l /net
bind -a #I /net
mount -a /srv/cs /net
mount -a /srv/dns /net
mount -a /srv/net /net
bind -a #D /net

# external networks
# mount -a /srv/ip.alt /net.alt
bind -a #l1 /net.alt
bind -a #I1 /net.alt
# more here...

# local services
mount /srv/consoles /mnt/consoles
mount -a /srv/telco /net
