/* Copyright (C) 1992, 1993 Aladdin Enterprises.  All rights reserved.
  
  This file is part of Aladdin Ghostscript.
  
  Aladdin Ghostscript is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the Aladdin Ghostscript Free Public
  License (the "License") for full details.
  
  Every copy of Aladdin Ghostscript must include a copy of the License,
  normally in a plain ASCII text file named PUBLIC.  The License grants you
  the right to copy, modify and redistribute Aladdin Ghostscript, but only
  under certain conditions described in the License.  Among other things, the
  License requires that the copyright notice and this notice be preserved on
  all copies.
*/

/* gspmdrv.rc */
/* Resources for gspmdrv.exe, the PM display driver for Ghostscript */

#include <os2.h>
#include "gspmdrv.h"

ICON ID_GSPMDRV gspmdrv.ico

DLGTEMPLATE IDD_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG "About Ghostscript PM driver", IDD_ABOUT, 10, 10, 250, 76, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
  BEGIN
    ICON ID_GSPMDRV, ID_GSPMDRV, 8, 56, 20, 16, WS_GROUP
    LTEXT "Ghostscript Presentation Manager Driver", -1, 34, 64, 210, 8
    LTEXT GSPMDRV_VERSION, -1, 34, 56, 210, 8
    LTEXT "Copyright (C) 1992, 1993 Aladdin Enterprises.", -1, 34, 48, 210, 8
    LTEXT "All rights reserved", -1, 34, 40, 210, 8
    PUSHBUTTON  "OK", DID_OK, 105, 8, 40, 14
  END
END


