# root
mount -at #s/boot /

# kernel devices
bind #c /dev
bind #d /fd
bind -c #e /env
bind #p /proc
bind -c #s /srv

# standard bin
bind /$cputype/bin /bin
bind -a /rc/bin /bin

# networks
mount -b /srv/cs /net
bind -b #l /net
bind -b #Iudp /net
bind -b #Itcp /net
bind -b #Iil /net

# local fs
mount -c /srv/kfs /n/kfs

bind -c /usr/$user/tmp /tmp
cd /usr/$user
