/* Copyright (C) 1996, 1998 Russell Lang.  All rights reserved.
  
  This software is provided AS-IS with no warranty, either express or
  implied.
  
  This software is distributed under license and may not be copied,
  modified or distributed except as expressly authorized under the terms
  of the license contained in the file LICENSE in this distribution.
  
  For more information about licensing, please refer to
  http://www.ghostscript.com/licensing/. For information on
  commercial licensing, go to http://www.artifex.com/licensing/ or
  contact Artifex Software, Inc., 101 Lucas Valley Road #110,
  San Rafael, CA  94903, U.S.A., +1(415)492-9861.
*/


/* $Id: dwmain.rc,v 1.5 2002/03/30 01:29:38 ghostgum Exp $*/

#include <windows.h>
#include "dwmain.h"

#ifndef gstext_ico
#define gstext_ico gswin.ico
#endif
#ifndef gsgraph_ico
#define gsgraph_ico gswin.ico
#endif

GSTEXT_ICON ICON gstext_ico
GSIMAGE_ICON ICON gsgraph_ico

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif
