/* Copyright (C) 1999, 2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This software is provided AS-IS with no warranty, either express or
  implied.
  
  This software is distributed under license and may not be copied,
  modified or distributed except as expressly authorized under the terms
  of the license contained in the file LICENSE in this distribution.
  
  For more information about licensing, please refer to
  http://www.ghostscript.com/licensing/. For information on
  commercial licensing, go to http://www.artifex.com/licensing/ or
  contact Artifex Software, Inc., 101 Lucas Valley Road #110,
  San Rafael, CA  94903, U.S.A., +1(415)492-9861.
*/


// $Id: dwsetup.rc,v 1.14 2005/04/12 22:05:40 giles Exp $

#include <windows.h>
#include "dwsetup.h"

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAIN DIALOG 32, 32, 300, 200
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP /* | WS_VISIBLE */ | WS_CAPTION | WS_SYSMENU 
CAPTION "AFPL Ghostscript Setup"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Install",IDC_INSTALL,240,178,50,14
    ICON            IDR_MAIN,IDC_STATIC,11,17,20,20
    LTEXT           "This installs",IDC_STATIC,56,6,232,8
    LTEXT           "Product Name",IDC_PRODUCT_NAME,72,16,216,8
    LTEXT           "Copyright (C) 1994-2005 artofcode LLC, Benicia, California, U.S.A.  All rights reserved.\n\nRequires 25 Mbytes disk space.",
                    IDC_COPYRIGHT,56,30,232,40

    LTEXT           "Install to directory",IDC_STATIC,8,72,56,8
    EDITTEXT        IDC_TARGET_DIR,8,84,220,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_BROWSE_DIR,240,83,50,14

    LTEXT           "Add shortcuts to",IDC_STATIC,8,112,52,8
    CONTROL         "All Users",IDC_ALLUSERS,"Button",
		    BS_AUTOCHECKBOX | WS_TABSTOP,160,110,44,10
    EDITTEXT        IDC_TARGET_GROUP,8,124,220,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Browse...",IDC_BROWSE_GROUP,240,123,50,14

    CONTROL         "Install Ghostscript Fonts",IDC_INSTALL_FONTS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,8,142,220,12
    CONTROL         "Use Windows TrueType fonts for Chinese, Japanese and Korean",IDC_CJK_FONTS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,8,156,220,12

    PUSHBUTTON      "Cancel",IDCANCEL,8,178,50,14
    PUSHBUTTON      "Help",IDC_README,124,178,50,14
END



IDD_TEXTWIN DIALOG DISCARDABLE  0, 0, 318, 169
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "AFPL Ghostscript setup log"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,261,148,50,14
    EDITTEXT        IDC_TEXTWIN_MLE,7,7,304,136,ES_MULTILINE | ES_WANTRETURN | 
                    WS_VSCROLL | WS_HSCROLL
    PUSHBUTTON      "Copy to Clipboard",IDC_TEXTWIN_COPY,7,148,84,14
END

IDD_DIRDLG DIALOG DISCARDABLE  0, 0, 273, 140
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Folder"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,216,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,216,24,50,14
    LISTBOX         IDC_FILES,7,7,197,70,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Folder",IDC_FOLDER,7,82,259,12
    LTEXT           "Destination Folder",IDC_STATIC,7,105,259,12
    EDITTEXT        IDC_TARGET,7,120,259,12,ES_AUTOHSCROLL
END



/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAIN                ICON    DISCARDABLE     "gswin.ico"

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_MAIN, DIALOG
    BEGIN
        LEFTMARGIN, 8
        RIGHTMARGIN, 288
        TOPMARGIN, 6
        BOTTOMMARGIN, 192
    END
    IDD_TEXTWIN, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 311
        TOPMARGIN, 7
        BOTTOMMARGIN, 162
    END

    IDD_DIRDLG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 266
        TOPMARGIN, 7
        BOTTOMMARGIN, 133
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APPNAME             "AFPL Ghostscript Setup"
    IDS_TARGET_DIR          "gs"
    IDS_TARGET_GROUP        "Ghostscript"
END

/////////////////////////////////////////////////////////////////////////////



