/* Copyright (C) 1999, 2000, Ghostgum Software Pty Ltd.  All rights reserved.
  
  This file is part of Aladdin Ghostscript.
  
  This program is distributed with NO WARRANTY OF ANY KIND.  No author
  or distributor accepts any responsibility for the consequences of using it,
  or for whether it serves any particular purpose or works at all, unless he
  or she says so in writing.  Refer to the Aladdin Ghostscript Free Public 
  License (the "License") for full details.
  
  Every copy of Aladdin Ghostscript must include a copy of the License, 
  normally in a plain ASCII text file named PUBLIC.  The License grants you 
  the right to copy, modify and redistribute Aladdin Ghostscript, but only 
  under certain conditions described in the License.  Among other things, the 
  License requires that the copyright notice and this notice be preserved on 
  all copies.
*/

// $Id: dwuninst.rc,v 1.2 2000/03/10 03:44:33 lpd Exp $

#include <windows.h>
#include "dwuninst.h"

ID_UNINSTGS ICON "gstext.ico"


IDD_UNSET DIALOG 6, 15, 242, 123
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "&Cancel", IDCANCEL, 106, 98, 50, 14
 PUSHBUTTON "&Uninstall", IDOK, 16, 98, 50, 14
 LTEXT "To remove this package, press Uninstall", IDC_PRESSOK, 44, 8, 192, 8
 LTEXT "", IDC_T1, 32, 48, 200, 16
 LTEXT "", IDC_T2, 32, 64, 200, 16
 ICON ID_UNINSTGS, IDC_GSICON, 8, 8, 18, 20
}


