/* Copyright (C) 1995, 1999, Russell Lang.  All rights reserved.
  
  This software is provided AS-IS with no warranty, either express or
  implied.
  
  This software is distributed under license and may not be copied,
  modified or distributed except as expressly authorized under the terms
  of the license contained in the file LICENSE in this distribution.
  
  For more information about licensing, please refer to
  http://www.ghostscript.com/licensing/. For information on
  commercial licensing, go to http://www.artifex.com/licensing/ or
  contact Artifex Software, Inc., 101 Lucas Valley Road #110,
  San Rafael, CA  94903, U.S.A., +1(415)492-9861.
*/

/* $Id: gs16spl.rc,v 1.5 2002/03/30 01:29:38 ghostgum Exp $*/
/* Resources for GS16SPL.EXE, 16-bit access to print spooler */
/* 1995-11-10 */

#include <windows.h>

#define ID_TEXT 100

#ifndef gstext_ico
#define gstext_ico gswin.ico
#endif

1 ICON gstext_ico

SpoolDlgBox DIALOG 20, 32, 158, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GS Win32s/Win16 spooler"
FONT 8, "Helv"
BEGIN
	CONTROL "&Cancel", IDCANCEL, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 8, 36, 32, 14
	ICON 1, 1, 8, 8, 16, 16
	LTEXT "", ID_TEXT, 40, 12, 108, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

