/* Copyright (C) 1992, 1993 Aladdin Enterprises.  All rights reserved.
  
  This software is provided AS-IS with no warranty, either express or
  implied.
  
  This software is distributed under license and may not be copied,
  modified or distributed except as expressly authorized under the terms
  of the license contained in the file LICENSE in this distribution.
  
  For more information about licensing, please refer to
  http://www.ghostscript.com/licensing/. For information on
  commercial licensing, go to http://www.artifex.com/licensing/ or
  contact Artifex Software, Inc., 101 Lucas Valley Road #110,
  San Rafael, CA  94903, U.S.A., +1(415)492-9861.
*/

/* $Id: gspmdrv.rc,v 1.4 2002/02/21 22:24:52 giles Exp $*/
/* Resources for gspmdrv.exe, the PM display driver for Ghostscript */

#include <os2.h>
#include "gspmdrv.h"

ICON ID_GSPMDRV obj\gspmdrv.ico

DLGTEMPLATE IDD_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG "About Ghostscript PM driver", IDD_ABOUT, 10, 10, 250, 76, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
  BEGIN
    ICON ID_GSPMDRV, ID_GSPMDRV, 8, 56, 20, 16, WS_GROUP
    LTEXT "Ghostscript Presentation Manager Driver", -1, 34, 64, 210, 8
    LTEXT GSPMDRV_VERSION, -1, 34, 56, 210, 8
    LTEXT "Copyright (C) 1992, 1993 Aladdin Enterprises.", -1, 34, 48, 210, 8
    LTEXT "All rights reserved", -1, 34, 40, 210, 8
    PUSHBUTTON  "OK", DID_OK, 105, 8, 40, 14
  END
END


